.container{
    width: 80%;
    margin: 10%;
}

.col1{
    float: left;
    width: 15%;
    text-align: center;
}

input {
    margin-top: 10px;
    height: 30px;
    float: left;
    font-size: 20px;    
    
}

.col1 button{
    margin: 2px;
    font-size: 20px;    
    
}


.col2{
    float: left;
    width: 25%;
    font-size: 17px;

}



.col3{
    float: left;
    width: 25%;
    text-align: center;
    color: black;
}

.col3 button{
    margin: 6px;
    font-size: 15px;    
}

.col3 small{
    display: block;
}

.col4{
    float: left;
    width: 15%;
}

.col5{
    float: left;
    width: 15%;
}

.col5 button{
    margin-bottom: 10px;
} 
.guardar{
    background-color: aqua;
} 
.limLis{
    background-color: deeppink;
} 
.limTodo{
    background-color: rgb(160, 54, 186);
}



