<div class="container">
    <form [formGroup]="formulario" >

        <div class="col1">
        <button mat-raised-button  color="primary" type="button" (click)="adicionar()" >Adicionar </button>
        </div>

        <div class="col2" formArrayName="input1">
            <div class="formu"  *ngFor="let in of getInputs.controls; let i =  index"  [formGroupName]="i">
                <mat-form-field class="example-full-width" appearance="outline" >
                    <input  
                    matInput
                    #message
                    maxlength="15"
                    formControlName="textoNuevo" 
                    >
                  </mat-form-field>
                  <small *ngIf="in.invalid">No es correcto</small>
                  
                      <button mat-raised-button  (click)="limpiar(i)">Limpiar</button> 
                      <button mat-raised-button color="warn"  type="button" (click)=" indiEli(this.getInputs.value.i)">Eliminar</button>
            </div>
        </div>

        <div class="col3">
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea disabled matInput  cols="50" 
                rows="10">{{ mostrar()}} 
                </textarea>
              </mat-form-field>
        </div>
        <div class="col4">
            <button mat-raised-button type="button" type="reset" (click)="limpiarTodo ()"  class="limTodo">Limpiar todo</button> 
        </div>
        <div class="col5">
            <button mat-raised-button  (click)="guardar()" class="guardar">Guardar</button>
            
            <button mat-raised-button type="reset" (click)="listalim()"  class="limLis">Limpiar lista </button> 
        </div>

    </form>
</div>